<div
  class="relative h-full"
  x-data="{ open: false }"
  @mouseenter="open = true"
  @mouseleave="open = false"
>
  <slot name="trigger" />
  <div x-cloak x-show="open" class="absolute z-10">
    <slot />
  </div>
</div>
<style>
  [x-cloak] {
    display: none;
  }
</style>
