---
export const prerender = false;
import Main from "@/layouts/main.astro";
---

<Main title="Đơn hàng">
  <div class="bg-gray-50 py-4">
    <div class="max-w-4xl mx-auto">
      <p class="text-center text-gray-700">
        Cảm ơn quý khách đã đặt niềm tin vào dịch vụ của SENHOME
      </p>
      <p class="text-center my-4 text-gray-700">
        Đơn hàng của qúy khách đã được hệ thống tiếp nhận. SENHOME sẽ liên hệ
        quý khách để kiểm tra đơn hàng một lần nữa. Nếu có thắc mắc hoặc điều
        chỉnh về đơn hàng xin hãy liên hệ SENHOME qua số 1900 27 27 37
      </p>
    </div>
  </div>
</Main>
