---
import PlusIcon from "@lucide/astro/icons/plus";
const { data } = Astro.props;
const cartData = JSON.stringify({ ...data, quantity: 1 });
---

<button
  @click.prevent=`$store.cart.addToCart(${cartData})`
  class="cursor-pointer text-center text-sm"
>
  <span>Thêm vào giỏ hàng <PlusIcon size={16} class="inline" /></span>
</button>
