---
import Blank from "@/layouts/blank.astro";
import "@/styles/global.css";
---

<Blank title="404 Not Found">
  <main class="text-center mt-96">
    <p>Không tìm thấy trang</p>
    <a href="/">Về trang chủ</a>
  </main>
</Blank>
