---
import Main from "@/layouts/main.astro";
---

<Main title="CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN">
  <div class="max-w-6xl mx-auto">
    <h1 class="font-bold text-center text-xl mt-8">
      CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN
    </h1>
  </div>
</Main>
