---
import SignUpForm from "@/components/signup-form.astro";
import Blank from "@/layouts/blank.astro";
---

<Blank title="Đăng ký">
  <div class="w-96 mx-auto mt-8">
    <h3 class="font-bold text-xl mb-8">Đăng ký tài khoản</h3>
    <SignUpForm />
  </div>
</Blank>
