---
import CODIcon from "@/assets/mceclip2_42.avif";
import Main from "@/layouts/main.astro";
import MinusIcon from "@lucide/astro/icons/minus";
import PlusIcon from "@lucide/astro/icons/plus";
import Trash2Icon from "@lucide/astro/icons/trash-2";
import { Image } from "astro:assets";
---

<script>
  import { formatVND } from "@/lib/utils";
  declare global {
    interface Window {
      formatVND: (price: number) => string;
    }
  }
  window.formatVND = formatVND;
</script>

<Main title="Giỏ hàng">
  <div x-data>
    <div
      x-cloak
      class="flex h-96 justify-center items-center text-center"
      x-show="!$store.cart.totalQuantity"
    >
      <div>
        <Image
          height={100}
          width={100}
          class="size-24 object-cover mx-auto"
          src="https://cdn-icons-png.flaticon.com/512/11329/11329060.png"
          alt=""
          loading="eager"
        />
        <p class="text-center text-gray-600 leading-12">Giỏ hàng trống</p>
      </div>
    </div>
    <div x-cloak x-show="$store.cart.totalQuantity > 0">
      <div class="max-w-7xl mx-auto grid grid-cols-12 gap-8 mb-32" dir="ltr">
        <div class="col-span-12 lg:col-span-6 mt-8 relative">
          <div class="sticky top-28">
            <div class="">
              <h3 class="text-xl font-bold mb-4">Thông tin vận chuyển</h3>
              <div class="grid grid-cols-12 gap-4">
                <div class="col-span-6">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label for="name" class="w-fit pl-0.5 text-sm text-gray-600"
                      >Họ tên</label
                    >
                    <input
                      id="name"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Nhập họ tên của bạn"
                      autocomplete="name"
                    />
                  </div>
                </div>
                <div class="col-span-6">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label
                      for="phone"
                      class="w-fit pl-0.5 text-sm text-gray-600"
                      >Số điện thoại</label
                    >
                    <input
                      id="phone"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Nhập số điện thoại"
                      autocomplete="name"
                    />
                  </div>
                </div>
                <div class="col-span-12">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label
                      for="email"
                      class="w-fit pl-0.5 text-sm text-gray-600">Email</label
                    >
                    <input
                      id="email"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Nhập email của bạn"
                      autocomplete="name"
                    />
                  </div>
                </div>
                <div class="col-span-12">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label
                      for="street"
                      class="w-fit pl-0.5 text-sm text-gray-600">Địa chỉ</label
                    >
                    <input
                      id="street"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Nhập địa chỉ"
                      autocomplete="name"
                    />
                  </div>
                </div>
                <div class="col-span-4">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label
                      for="province"
                      class="w-fit pl-0.5 text-sm text-gray-600"
                      >Tỉnh/Thành phố</label
                    >
                    <input
                      id="province"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Chọn tỉnh/thành phố"
                      autocomplete="name"
                    />
                  </div>
                </div>
                <div class="col-span-4">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label
                      for="district"
                      class="w-fit pl-0.5 text-sm text-gray-600"
                      >Quận/Huyện</label
                    >
                    <input
                      id="district"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Chọn quận/huyện"
                      autocomplete="name"
                    />
                  </div>
                </div>
                <div class="col-span-4">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label for="ward" class="w-fit pl-0.5 text-sm text-gray-600"
                      >Phường/Xã</label
                    >
                    <input
                      id="ward"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Chọn phường/xã"
                      autocomplete="name"
                    />
                  </div>
                </div>
                <div class="col-span-12">
                  <div
                    class="flex w-full flex-col gap-1 text-on-surface dark:text-on-surface-dark"
                  >
                    <label
                      for="street"
                      class="w-fit pl-0.5 text-sm text-gray-600">Ghi chú</label
                    >
                    <input
                      id="street"
                      type="text"
                      class="w-full rounded border px-4 py-2"
                      name="name"
                      placeholder="Nhập ghi chú"
                      autocomplete="name"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-8">
              <h3 class="text-xl font-bold mb-4">Hình thức thanh toán</h3>
              <div
                class="flex items-center gap-2 border py-2 px-4 rounded cursor-pointer hover:bg-gray-50"
              >
                <input
                  id="default-radio-1"
                  type="radio"
                  value=""
                  name="default-radio"
                  class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300"
                />
                <Image
                  src={CODIcon}
                  alt=""
                  height={100}
                  width={100}
                  class="size-10 inline"
                  loading="eager"
                />
                <label for="default-radio-1" class="font-bold text-sm"
                  >Thanh toán khi nhận hàng</label
                >
              </div>
            </div>
          </div>
        </div>
        <div class="col-span-12 lg:col-span-6 mt-8">
          <h3 class="text-2xl font-bold mb-8">Giỏ hàng</h3>
          <template x-for="(item) in $store.cart.get">
            <div class="flex justify-between items-center">
              <div class="flex gap-4">
                <Image
                  height={100}
                  width={100}
                  src="/"
                  :src="item.thumbnail"
                  alt=""
                  class="size-18 object-cover rounded"
                  loading="eager"
                />
                <div>
                  <p>
                    <a
                      :href="item?.slug"
                      x-text="item?.name"
                      class="text-gray-800 line-clamp-1"></a>
                  </p>
                  <div class="text-sm space-x-2 my-2">
                    <template x-for="option in item.options">
                      <span
                        x-text="option.value_name"
                        class="px-2 py-1 bg-gray-50 rounded-2xl text-gray-600"
                      ></span>
                    </template>
                  </div>
                  <div>
                    <span
                      class="font-bold text-lg"
                      x-text="item.formatPriceDiscount"
                    >
                    </span>
                    <span
                      x-show="item?.discount"
                      class="text-gray-500 line-through text-sm"
                      x-text="item.formatPrice"
                    >
                    </span>
                  </div>
                  <div
                    class="flex items-center bg-gray-50 px-2 rounded-md py-1 w-fit"
                  >
                    <button
                      type="button"
                      class="cursor-pointer"
                      @click="$store.cart.data.get(item.id).quantity > 1 && ($store.cart.data.get(item.id).quantity -= 1); $store.cart.save()"
                    >
                      <MinusIcon size={14} />
                    </button>
                    <p class="text-sm w-8 text-center" x-text="item.quantity">
                    </p>
                    <button
                      class="cursor-pointer"
                      @click="$store.cart.data.get(item.id).quantity += 1; $store.cart.save()"
                    >
                      <PlusIcon size={14} />
                    </button>
                  </div>

                  <button
                    @click="$store.cart.data.delete(item?.id); $store.cart.save()"
                    class="text-xs text-gray-600 cursor-pointer hover:text-red-500"
                  >
                    <Trash2Icon size={16} class="inline" />
                    Xóa
                  </button>
                </div>
              </div>
            </div>
          </template>

          <div class="mt-8 space-y-4">
            <h3 class="text-xl font-bold mb-4">Chi tiết thanh toán</h3>
            <div class="flex justify-between text-gray-600">
              <span>Tạm tính</span>
              <span x-text="$store.cart.calc.tmpPrice"></span>
            </div>
            <div class="flex justify-between text-gray-600">
              <span>Phí giao hàng</span>
              <span>Miễn phí</span>
            </div>
            <hr class="border-t my-4" />
            <div class="flex justify-between">
              <span class="text-xl font-bold">Thành tiền</span>
              <span
                class="font-bold text-xl"
                x-text="$store.cart.calc.finalPrice"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="flex fixed h-20 start-0 end-0 bottom-0 text-right bg-white">
        <div class="grid grid-cols-2 w-full max-w-7xl mx-auto">
          <div class="col-span-1 flex items-center"></div>
          <div class="col-span-1 flex justify-between">
            <div class="flex flex-1 justify-center items-center">
              <p
                class="font-bold text-2xl"
                x-text="$store.cart.calc.finalPrice"
              >
              </p>
            </div>
            <button
              type="button"
              class="h-full bg-blue-500 text-white font-bold uppercase px-8 cursor-pointer hover:bg-blue-600"
            >
              Đặt hàng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</Main>
