---
export const prerender = false;
import ImageSlider from "@/components/alpine/image-slider.astro";
import Main from "@/layouts/main.astro";
import { IMAGE_COLLECTION, pb } from "@/lib/pocketbase";
import { convertImageUrl } from "@/lib/utils";

async function fetchBanners() {
  try {
    const response = await pb.collection(IMAGE_COLLECTION).getList(1, 5, {
      filter: `type="banner"`,
    });

    return { data: response, error: null };
  } catch (error) {
    return { data: null, error: error };
  }
}

const { data: banners } = await fetchBanners();

const images = JSON.stringify(
  banners?.items?.map((item) => ({
    ctaUrl: item?.href,
    imgSrc: convertImageUrl(item),
  }))
);
---

<Main title="Trang chủ">
  <ImageSlider images={images} />
</Main>
