---
import TestLayout from "@/layouts/test-layout.astro";
---

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data("test2", () => ({
      text: "test 2",
    }));
  });
</script>

<TestLayout>
  <div x-data="test2">
    Component not inline 2
    <div x-text="text">not rendered by alpine</div>
    <a href="/test">link to test 1</a>
  </div>
</TestLayout>
