---
import TestLayout from "@/layouts/test-layout.astro";
---

<script>
  import Alpine from "alpinejs";

  document.addEventListener("alpine:init", () => {
    Alpine.data("test", () => ({
      text: "test 1",
    }));
  });
</script>

<TestLayout>
  <div x-data="test">
    Component not inline 2
    <div x-text="text">not rendered by alpine</div>
    <a href="/test2">link to test 2</a>
  </div>
</TestLayout>
