---
import Blank from "@/layouts/blank.astro";
---

<Blank>
  <div class="relative">
    <div
      class="flex justify-center sticky top-96 z-99 left-1/2 -translate-x-1/2 bg-blue-300 w-fit"
    >
      <button class="bg-gray-50 px-4 py-2">Button</button>
    </div>
    <div class="h-[1000px] bg-blue-50"></div>
  </div>
  <div class="h-[1000px] bg-amber-50"></div>
</Blank>
