---
export const prerender = false;
import ProductCard from "@/components/product-card.astro";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbList,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb";
import Main from "@/layouts/main.astro";
import { pb, PRODUCT_COLLECTION } from "@/lib/pocketbase";

const query = Astro.url.searchParams.get("q");

const products = await pb.collection(PRODUCT_COLLECTION).getList(1, 20, {
  filter: `name ~ "${query}"`,
});
---

<Main title=`Kết quả tìm kiếm "${query}"`>
  <div class="h-full">
    <div class="max-w-6xl mx-auto py-4">
      <Breadcrumb className="mb-2">
        <BreadcrumbList>
          <BreadcrumbItem>
            <a href="/">Trang chủ</a>
          </BreadcrumbItem>
          <BreadcrumbSeparator />
          <BreadcrumbItem>Kết quả tìm kiếm "{query}"</BreadcrumbItem>
        </BreadcrumbList>
      </Breadcrumb>

      <div class="flex justify-between">
        <div class="flex-1"></div>
      </div>
      <div>
        <div class="grid grid-cols-4 gap-2">
          {
            products?.items.map((item) => (
              <a href={`/san-pham/${item?.slug}`}>
                <ProductCard />
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</Main>
