---
import X from "@lucide/astro/icons/x";
import SigninForm from "./signin-form.astro";
import SignUpForm from "./signup-form.astro";
---

<div x-data>
  <div
    x-show="$store.auth.openModal"
    @click.self="$store.auth.openModal = false"
    class="fixed inset-0 bg-black/20 z-50 flex justify-center items-center"
  >
    <div class="w-[480px] mx-auto bg-white p-8 rounded-lg shadow relative">
      <div x-cloak x-show="$store.auth.tab == 0">
        <h3 class="font-bold text-xl mb-8">Đăng ký tài khoản</h3>
        <SignUpForm />
        <div class="flex justify-between mt-8">
          <button
            @click="$store.auth.tab = 1"
            class="text-blue-500 text-sm hover:cursor-pointer">Đăng nhập</button
          >
          <button class="text-blue-500 text-sm hover:cursor-pointer"
            >Quên mật khẩu</button
          >
        </div>
      </div>
      <div x-cloak x-show="$store.auth.tab == 1">
        <h3 class="font-bold text-xl mb-8">Đăng nhập</h3>
        <SigninForm />
        <div class="flex justify-between mt-8">
          <button
            @click="$store.auth.tab = 0"
            class="text-blue-500 text-sm hover:cursor-pointer">Đăng ký</button
          >
          <button class="text-blue-500 text-sm hover:cursor-pointer"
            >Quên mật khẩu</button
          >
        </div>
      </div>
      <button
        @click="$store.auth.openModal = false"
        class="absolute -top-2 -right-2 p-1 bg-gray-800 hover:bg-gray-900 text-white rounded-full hover:cursor-pointer"
      >
        <X size={16} />
      </button>
    </div>
  </div>
</div>
