---
import IconZalo from "@/assets/icon-zalo.webp";
import PhoneIcon from "@lucide/astro/icons/phone";
import { Image } from "astro:assets";
---

<div class="fixed end-4 lg:bottom-32 bottom-8 z-40">
  <div class="flex flex-col items-center gap-8">
    <a
      href="/"
      aria-label="Zalo"
      class="relative flex items-center justify-center size-10 rounded-full shadow-lg"
    >
      <Image
        height={100}
        width={100}
        class="w-full object-cover hover:scale-95 transition-all duration-150 peer"
        src={IconZalo}
        alt=""
        loading="eager"
      />
    </a>
    <a href="tel:0933108680" aria-label="Phone" class="relative">
      <span class="relative flex size-10">
        <span
          class="absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
        ></span>
        <span
          class="relative inline-flex justify-center items-center size-10 rounded-full bg-sky-500 hover:scale-95"
        >
          <PhoneIcon class="peer text-white fill-white" />
        </span>
      </span>
    </a>
  </div>
</div>
