---
import { formatVND } from "@/lib/utils";
import { StarIcon } from "lucide-react";

interface Props {
  data?: {
    id?: string;
    thumbnail?: string;
    discount?: number;
    price?: number;
    name?: string;
    slug?: string;
  };
}

const { data } = Astro.props;
---

<a href={`/san-pham/${data?.slug}`}>
  <article x-data>
    <div class="rounded overflow-hidden relative group">
      <slot name="image" />
    </div>
    <div class="mt-4 space-y-2">
      <p class="line-clamp-2 group-hover:text-gray-600 text-sm text-gray-900">
        {data?.name}
      </p>

      <div class="flex items-center gap-2 flex-wrap">
        {
          Number(data?.discount) > 0 && (
            <span class="px-2 py-1 rounded-md bg-blue-500 text-white text-xs font-bold">
              -{Number(data?.discount) * 100}%
            </span>
          )
        }
        <p class="text-lg font-bold">
          {
            formatVND(
              Number(data?.price) -
                Number(data?.price) * (Number(data?.discount) || 0)
            )
          }
        </p>

        {
          Number(data?.discount) > 0 && (
            <p class="text-gray-500 line-through">
              {formatVND(Number(data?.price))}
            </p>
          )
        }
      </div>
      <!-- <div class="text-xs space-x-1">
        <StarIcon className="fill-blue-500 text-blue-500 inline" size={14} />
        <span class="font-bold">4.8</span>
        <span class="text-gray-700">
          {new Intl.NumberFormat("en-US").format(2300)} đánh giá
        </span>
      </div> -->
    </div>
  </article>
</a>
