<footer class="">
  <div class="py-8 max-w-6xl mx-auto">
    <div class="grid grid-cols-2 gap-6">
      <div class="col-span-2 md:col-span-1">
        <h1 class="text-xl font-bold leading-16">SENHOME</h1>
        <div class="text-sm">
          <p class="leading-8">
            Tên doanh nghiệp: Công Ty TNHH Nhất Tâm Senhome
          </p>
          <p class="leading-8">Địa chỉ: Phú Xuân, Nhà Bè, Hồ Chí Minh</p>
          <p class="leading-8">Số điện thoại: 0933 108 680</p>
          <p class="leading-8">
            © {new Date().getFullYear()}. Senhome All rights reserved.
          </p>
        </div>

        <div class="flex items-center gap-4 mt-4">
          <a href="/" class="bg-white p-2 rounded-full">
            <img
              height="24"
              width="24"
              src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/facebook.svg"
            />
          </a>

          <a href="/" class="bg-white p-2 rounded-full">
            <img
              height="24"
              width="24"
              src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/instagram.svg"
            />
          </a>
          <a href="/" class="bg-white p-2 rounded-full">
            <img
              height="24"
              width="24"
              src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/youtube.svg"
            />
          </a>
          <a href="/" class="bg-white p-2 rounded-full">
            <img
              height="24"
              width="24"
              src="https://cdn.jsdelivr.net/npm/simple-icons@v15/icons/tiktok.svg"
            />
          </a>
        </div>
      </div>
      <div class="col-span-2 md:col-span-1">
        <h1 class="text-xl font-bold leading-16">CHÍNH SÁCH</h1>
        <div class="text-sm">
          <a href="/" class="block leading-8"> Chính sách bảo mật </a>
          <a href="/" class="block leading-8">
            Chính sách giao hàng, đổi hàng, hoàn tiền
          </a>
          <a href="/" class="block leading-8"> Các điều khoản và điều kiện </a>
          <a href="/" class="block leading-8"> Chính sách bảo hành sản phẩm </a>
        </div>
      </div>
    </div>
  </div>
</footer>
