<footer class="bg-gray-50">
  <div class="py-8 max-w-6xl mx-auto px-2 lg:px-0 text-center">
    <p class="text-gray-600 text-xs space-x-4 mb-8">
      <a href="/chinh-sach-van-chuyen">CHÍNH SÁCH VẬN CHUYỂN</a>
      <span>|</span>
      <a href="/chinh-sach-tra-hang-hoan-tien"
        >CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a
      >
    </p>
    <div class="text-gray-600 text-xs">
      <p class="mb-8">Công Ty TNHH Nhất Tâm Senhome</p>
      <p>Địa chỉ: Phú Xuân, Nhà Bè, Hồ Chí Minh</p>
      <p>Số điện thoại: 0933 108 680</p>
      <p>
        © {new Date().getFullYear()} - Bản quyền thuộc về Công Ty TNHH Nhất Tâm
        Senhome
      </p>
    </div>
  </div>
</footer>
