---
import CartBadge from "@/components/cart-badge";
import { buttonVariants } from "@/components/ui/button";
import { Input } from "@/components/ui/input";
import { CATEGORY_COLLECTION, pb } from "@/lib/pocketbase";
import { buildCategoryTree, cn } from "@/lib/utils";
import { ChevronDownIcon, SearchIcon } from "lucide-react";

const categories = await pb.collection(CATEGORY_COLLECTION).getFullList();

const tree = buildCategoryTree(categories);
---

<header class="px-2 md:px-0 bg-white py-4">
  <div class="max-w-6xl mx-auto flex items-center">
    <a href="/">
      <!-- <img src="/logo.png" alt="Logo" class="h-16" /> -->
      <h1 class="text-2xl font-bold">SENHOME</h1>
    </a>

    <div class="hidden lg:flex justify-center w-full">
      <form action="/tim-kiem" method="GET" class="relative">
        <div
          class="absolute left-0 top-1/2 -translate-y-1/2 w-12 flex justify-center text-gray-500"
        >
          <SearchIcon size={18} />
        </div>
        <Input
          type="text"
          name="q"
          placeholder="Tìm kiếm sản phẩm"
          className="w-96 pr-10 pl-10 shadow-none rounded-full"
        />
      </form>
    </div>

    <div class="flex items-center ml-auto gap-1">
      <CartBadge client:only />
      <a href="/dang-nhap" class={cn(buttonVariants({ variant: "ghost" }))}>
        Đăng nhập
      </a>
    </div>
  </div>
  <div class="mt-4"></div>
  <div
    class="hidden max-w-6xl mx-auto lg:flex items-center flex-1 gap-8 text-sm"
  >
    {
      tree?.map((item) => (
        <div class="relative group">
          <div class="flex items-center gap-1 font-medium group-hover:text-blue-400">
            <a href={`/danh-muc/${item?.slug}`}>{item?.name}</a>
            {item?.children.length > 0 && (
              <ChevronDownIcon
                size={16}
                className="group-hover:rotate-180 transition-all duration-150"
              />
            )}
          </div>

          {item?.children.length > 0 && (
            <div class="absolute top-full left-0 w-96 z-50 h-0 group-hover:h-fit transition-all duration-200 overflow-hidden shadow">
              <div class="rounded bg-white p-4">
                {item.children.map((child: any) => (
                  <a
                    href={`/danh-muc/${child?.slug}`}
                    class="font-medium hover:text-blue-400"
                  >
                    {child.name}
                  </a>
                ))}
              </div>
            </div>
          )}
        </div>
      ))
    }
  </div>
</header>
