---
import CartBadge from "@/components/cart-badge";
import { CATEGORY_COLLECTION, pb } from "@/lib/pocketbase";
import { buildCategoryTree } from "@/lib/utils";
import {
  SiFacebook,
  SiTiktok,
  SiYoutube,
} from "@icons-pack/react-simple-icons";
import { HeadsetIcon, SearchIcon } from "lucide-react";

const data = await pb
  .collection(CATEGORY_COLLECTION)
  .getFullList({ perPage: 10 });

const categories = buildCategoryTree(data);
---

<header class="px-2 md:px-0 py-4 space-y-4">
  <div class="max-w-6xl mx-auto flex items-center text-xs">
    <p class="space-x-1">
      <span>Kết nối</span>
      <a href="">
        <SiFacebook size={16} className="inline" />
      </a>
      <a href="">
        <SiTiktok size={16} className="inline" />
      </a>
      <a href="">
        <SiYoutube size={16} className="inline" />
      </a>
    </p>
    <div class="ml-auto space-x-1">
      <a href="/dang-nhap"> Đăng nhập </a>
    </div>
  </div>
  <div class="max-w-6xl mx-auto flex items-center">
    <div>
      <a href="/">
        <h1 class="text-2xl font-bold">SENHOME</h1>
      </a>
    </div>
    <div class="flex-1 mx-32 space-y-1">
      <form action="/tim-kiem" method="GET" class="w-full relative">
        <div
          class="absolute left-0 top-1/2 -translate-y-1/2 w-12 flex justify-center text-gray-500"
        >
          <SearchIcon size={16} />
        </div>
        <input
          type="text"
          name="q"
          placeholder="Tìm kiếm sản phẩm"
          class="text-sm py-2 w-full pr-10 pl-10 bg-gray-50 rounded"
        />
      </form>
      <div class="text-gray-500 text-xs space-x-1">
        <a href="/tim-kiem?q=Rỗ đựng muỗng đủa">Rỗ đựng muỗng đủa</a>
        <a href="/tim-kiem?q=Kệ bếp">Kệ bếp</a>
      </div>
    </div>
    <div class="flex items-center ml-auto gap-1">
      <CartBadge client:only />
    </div>
  </div>

  <div
    class="hidden lg:flex justify-between space-x-4 text-sm text-gray-700 font-medium max-w-6xl mx-auto"
  >
    <div class="flex flex-1 justify-center space-x-4">
      {
        categories?.map((item) => (
          <a href={`/danh-muc/${item?.slug}`}>{item?.name}</a>
        ))
      }
    </div>
    <div class="ml-auto">
      <HeadsetIcon size={16} className="inline" />
      <span>+84 933 108 680</span>
    </div>
  </div>
</header>
