---
import ContactFloat from "@/components/contact-float.astro";
import Notification from "@/components/notification.astro";
import Footer from "@/layouts/footer.astro";
import Header from "@/layouts/header.astro";
import "@/styles/global.css";
import "@fontsource/inter";
import LoadingIndicator from "astro-loading-indicator/component";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en" transition:animate="none">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />
    <LoadingIndicator color="#00a6f4" />
  </head>
  <body class="flex flex-col h-screen">
    <Notification />
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <ContactFloat />
    <Footer />
  </body>
</html>
