---
import Contact from "@/components/contact.astro";
import Notification from "@/components/notification.astro";
import Header from "@/layouts/header.astro";
import "@/styles/global.css";
import LoadingIndicator from "astro-loading-indicator/component";
import { ClientRouter } from "astro:transitions";

const { title } = Astro.props;
---

<script>
  import Alpine from "alpinejs";
  document.addEventListener("astro:after-preparation", () => {
    Alpine.stopObservingMutations();
  });
  document.addEventListener("astro:page-load", () => {
    document.dispatchEvent(new Event("alpine:init"));
    Alpine.initTree(document.documentElement);
    Alpine.startObservingMutations();
  });
</script>

<html lang="en" transition:animate="none" transition:persist>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <ClientRouter />
    <LoadingIndicator color="#00a6f4" />
  </head>
  <body class="flex flex-col h-screen">
    <Notification />
    <Header />
    <main class="flex-1 mt-[72px]">
      <slot />
    </main>
    <Contact />
    <slot name="footer" />
  </body>
</html>

<style is:global>
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  [x-cloak] {
    display: none;
  }
</style>
