---
import { ChevronRightIcon } from "lucide-react";
---

<button
  x-cloak
  x-show="canNext"
  x-on:click="next"
  type="button"
  class="text-white justify-center group absolute end-80 top-1/2 z-10 flex -translate-y-1/2 items-center rounded-full transition duration-150 ease-out active:bg-gray-100 cursor-pointer hover:bg-white hover:text-black size-10"
  aria-label="Next Image Slide"
>
  <ChevronRightIcon size={18} />
  <span class="sr-only">Next</span>
</button>
